body {
    font-family: sans-serif;
    margin: 0;
}

img {
    height: auto;
    max-width: 100%;
}

.section1 {
    height: 400px;
    padding: 2rem;
    position: relative;
	background:url(img/image1.jpg);
	background-clip: border-box;
	background-origin: border-box;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.section1 h1 {
    color: #fff;
    font-size: 450%;
    padding: 15px 0;
    text-align: center;
}

.section2 {
	text-align: center;
    padding: 2rem;
	background:#e0eeff;
	height: auto;
}

.section3 {
	text-align: center;
    padding: 2rem;
	background:#02D9A4;
	height: auto;
}

.section4 {
	text-align: center;
    padding: 2rem;
	background:#0FC8F9;
	height: auto;
}

.section5 {
	text-align: center;
    padding: 2rem;
	background:#B54C8B;
	height: auto;
}

.section6 {
	text-align: center;
    padding: 2rem;
	background:#E11574;
	height: auto;
}

.section7 {
	text-align: center;
    padding: 2rem;
	background:#988FD9;
	height: auto;
}

.section8 {
	text-align: center;
    padding: 2rem;
	background:#53E2CE;
	height: auto;
}

.section9 {
	text-align: center;
    padding: 2rem;
	background:#FFB796;
	height: auto;
}

.section10 {
	text-align: center;
    padding: 2rem;
	background:#E894C5;
	height: auto;
}

.label {
    box-sizing: border-box;
    color: #111;
    font-size: 150%;
    height: 2rem;
    margin-bottom: 40px;
    padding: 0.375rem;
	text-align: center;
}
*[class^="revealator"] {
    display: inline-block;
    height: auto;
    margin: 0 auto 15px;
    width: 26%;
}
